*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.opt
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep         
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.hex
EventRecorderStub.scvd